In [ ]:
from ISLP import load_data
import pandas as pd
import numpy as np

In [43]:
auto=load_data("auto")
# auto.head()
# auto['horsepower']
# np.unique(auto['horsepower'])

# auto.isnull().sum()

# #auto.info()
# auto.describe()
# auto['horsepower'] = auto['horsepower'].replace('?', np.nan)
auto.shape
# #auto = auto.dropna()

idx_80 = auto['year'] > 80
auto[idx_80==False]
auto.iloc[0:5]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [ ]:
total=0
for i in range(0,5):
    total += i
    
print(total)

10

In [75]:
print(24*6)

x=np.array([2,3,19])
y=np.array([.2,.3,.5]).T

np.sum((x*y))/np.sum(y)

144

10.8

In [89]:
rng = np.random. default_rng (1)
A = rng. standard_normal ((127 , 5))
M = rng.choice ([0, np.nan], p=[0.8 ,0.2] , size=A.shape)
A += M
D = pd. DataFrame (A, columns =['food',
'bar',
'pickle ',
'snack ',
'popcorn '])
rng = np.random.default_rng(1)
A = rng.standard_normal((127, 5))
M = rng.choice([0, np.nan], p=[0.8, 0.2], size=A.shape)
A += M
D = pd.DataFrame(A, columns=['food', 'bar', 'pickle', 'snack', 'popcorn'])

# Accessing columns without trailing spaces
D[['food', 'bar']][1:5]

       food       bar
1       NaN -0.536953
2       NaN  0.546713
3  0.598846       NaN
4  0.008142 -0.275603